/* Alterações gerais */
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Parte do título do site */

/* Centraliza o h1 */
.titulo {
    text-align: center;
    padding: 2em;
}

/* Altera apenas o h1 */
h1 {
    border-bottom: 2px solid black;
    padding-bottom: 16px;
    display: inline-block;
    width: auto;
}

/* Restante do site */

/* Altera a box em si */
.box {
    border: 2px solid black;
    text-align: center;
    width: 300px;
    height: 400px;
    border-radius: 50px;
    margin-bottom: 2em;
}

/* Altera a fonte dentro da box */
.box > p { 
    font-size: 2em;
    margin-top: 30px;
    font-weight: bold;
}

/* Altera a imagem */
img {
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid black;
}

/* Verificar borda */
.telona {
    margin-top: 0px;
}